@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

html {
  overflow-y: auto !important;
}

label,
h1,
h2,
h3,
h4,
h5,
i,
button,
span,
nav,
img,
td,
th,
br,
div {
  -webkit-user-select: none !important;
  /* Safari */
  -ms-user-select: none !important;
  /* IE 10 and IE 11 */
  user-select: none !important;
  /* Standard syntax */
}

input[type=text]:disabled,
img {
  pointer-events: none;
}

.text-h6 {
  word-break: keep-all;
}

.v-toolbar {
  position: sticky;
  top: 79px;
}

.details-form-div {
  padding: 40px;
  max-width: 500px;
  background: white;
  border-radius: 20px;
  padding: 30px 40px 30px 40px;
  margin: 40px auto;
}

.white-list-item-title {
  color: white;
}


/* Message boxes */
/* Alert */
.swal2-styled.swal2-confirm {
  font-family: Avenir, Helvetica, Arial, sans-serif !important;
  background-color: #ed1c24 !important;
}

.swal2-styled.swal2-confirm:hover {
  background-color: #ed1c24 !important;
  opacity: 0.5;
}

#swal2-content {
  font-family: Avenir, Helvetica, Arial, sans-serif !important;
}

.swal2-styled.swal2-cancel {
  font-family: Avenir, Helvetica, Arial, sans-serif !important;
  color: #ed1c24 !important;
  background-color: white !important;
  border: 2px solid #ed1c24 !important;
}

.swal2-styled.swal2-cancel:hover {
  color: #ed1c24 !important;
  background-color: white !important;
  border: 2px solid #ed1c24 !important;
  opacity: 0.5;
}

.swal2-title {
  font-family: Avenir, Helvetica, Arial, sans-serif !important;
  font-size: 1.4em !important;
}

.v-data-table, .table-div, .v-card, .v-dialog, .swal2-popup {
  border-radius: 20px !important;
}

.v-toolbar {
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
}

.v-toolbar .mx-2 {
  margin-right: -2px !important;
}